<!DOCTYPE HTML>
<html>

<head>
  <title>users</title>
  <link rel="stylesheet" href="/static/style.css" type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.11.0/lib/theme-chalk/index.css">
  <script src="https://unpkg.com/element-ui@2.11.0/lib/index.js"></script>
</head>

<body>
  <div id="container">
    <h1>
      <script src="/static/nav.js"></script>
    </h1>
    <form action="/todos" method="POST">
      <input type="button" value="add" onclick='javascript:openAddNew()' />
    </form>
    <ul>
      <el-table v-loading="loading" id="t1" :data="tableData" highlight-current-row
         style="width: 100%">
        <el-table-column prop="createdAt.iso" label="创建日期">
        </el-table-column>
        <el-table-column prop="updatedAt.iso" label="更新日期">
        </el-table-column>
        <el-table-column prop="name" label="名称">
        </el-table-column>
        <el-table-column prop="location" label="地址">
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="100">
          <template slot-scope="scope">
            <el-button @click="handleClick(scope.row)" type="text" size="small">店员</el-button>
            <el-button type="text" size="small" @click="handleCurrentChange(scope.row)">编辑</el-button>
          </template>
        </el-table-column>
      </el-table>
    </ul>
    <ul>

    </ul>
    <el-dialog id='d1' title="add" :visible.sync="dialogFormVisible">
      <el-form :model="form">
        <el-form-item label="名称" :label-width="formLabelWidth">
          <el-input v-model="form.name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="地址" :label-width="formLabelWidth">
          <el-input v-model="form.location" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="组织" :label-width="formLabelWidth">
          <el-select v-model="form.group.objectId" clearable placeholder="请选择" >
            <el-option v-for="item of options" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="id" v-if="form.objectId" :label-width="formLabelWidth">
          <el-input v-model="form.objectId" disabled></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleSubmit">确 定</el-button>
      </div>
    </el-dialog>

  </div>
  <script>
    var t1 = new Vue({
      el: '#t1',
      data: {
        tableData: [],
        loading: true
      },
      methods: {
        handleClick(val) {
          console.log(val);
          location='userEndpoints?endpoint='+val.objectId
        },
        handleCurrentChange(val) {
          console.log(val)
          d1.form.name = val.name
          d1.form.location = val.location
          if (val.group && val.group.objectId) {
            d1.form.group.objectId = val.group.objectId
          }
          d1.form.objectId = val.objectId
          d1.dialogFormVisible = true
        }
      }
    })
    var d1 = new Vue({
      el: '#d1',
      data: {
        dialogFormVisible: false,
        form: {
          name: '',
          location: '',
          group: { objectId: '' },
          username: '',
          mobilePhoneNumber: '',
          region: '',
          date1: '',
          date2: '',
          delivery: false,
          type: [],
          resource: '',
          desc: ''
        },
        formLabelWidth: '120px',
        options: [],
        value: ''
      },
      methods: {
        handleSubmit() {
          console.log(d1.form)
          console.log(JSON.stringify(d1.form))
          axios({
            method: 'post',
            url: '/api/endpoints',
            data: JSON.stringify(d1.form),
            headers:
            {
              'Content-Type': 'application/json'
            }
          }).then(resp => {
            console.log(resp.data);
            d1.dialogFormVisible = false
            loadData()
          }).catch(err => {
            console.log('请求失败：' + err.status + ',' + err.statusText);
          });
        }
      }
    })

    function openAddNew() {
      d1.form.name = ''
      d1.form.location = ''
      d1.form.group.objectId = ''
      d1.form.objectId = ''
      d1.dialogFormVisible = true
    }

    window.onload = function () {
      t1.loading = true;
      loadGroup()
      loadData();
    }
    function loadGroup() {
      axios({
        method: 'get',
        url: '/api/groups'
      }).then(function (resp) {
        d1.options = []
        for (item of resp.data) {
          option = {}
          option.value = item.objectId
          option.label = item.name
          d1.options.push(option)
        }
      }).catch(resp => {
        console.log('请求失败：' + resp.status + ',' + resp.statusText);
      });
    }
    function loadData() {
      t1.loading = true;
      group = getUrlParam('group')
      axios({
        method: 'get',
        url: '/api/endpoints?group=' + group
      }).then(function (resp) {
        console.log(resp.data);
        t1.tableData = resp.data
        t1.loading = false;
      }).catch(resp => {
        console.log('请求失败：' + resp.status + ',' + resp.statusText);
      });
    }
  </script>
</body>

</html>